<body style = 'background-color: lightblue;'> 
<h1 style='color: red'> Rock, Paper, Scissors!</h1>
<h2>Do you fancy playing with my Luckybot?</h2>
<img src="/img/rock.jpeg" alt="Rock"/> <img src="/img/paper.jpeg" alt="Paper"/> <img src="/img/scissors.jpeg" alt="Scissors"/>
<p> For a turn you choose either Rock, Scissors or Paper 
<br>
and my Luckybot chooses, I declare a winner each round!</p>

<ul> 
<strong>Here are the rules</strong>
   <li><strong>rock</strong> crushes <strong>scissors</strong></li>
   <li><strong>paper</strong> covers <strong>rock</strong></li>
   <li><strong>scissors</strong> cuts <strong>paper</strong></li>
   <li>If you both show the same thing, then you try again!
</ul>

<form action="/register_player" method="post" style='color: red; '>
<h3>Register your name to play this game.</h3>
   <input type="text" name="player_name">
   <input type="submit" value="Let's Play!">
</form>
</body>