<h1><%= @player_name %> vs. Luckybot </h1>
<p> Hi <%= @player_name %>, when you are ready pick your choice!' <p/>

<form action='/choice' method ='get'>
  <input type="submit" value="Rock">    <input type="submit" value="Paper">    <input type="submit" value="Scissors">

</form>